<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head
	th:replace="fragments/head-content :: baseHead(~{::title}, ~{})">
	
	<title>From Barang</title>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="fragments/sidebar :: sidebar-fragment"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/topbar :: topbar-fragment"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Simpan Barang</h1>

					<div class="row">
						<div class="col-lg-12">
						
							<!-- Default card -->
							<div class="card mb-4">
								
								<div class="card-header">
									<b>Form Barang</b>
								</div>
								<div class="card-body">
									<form action="#" th:action="@{/products/save}" th:object="${product}" method="POST">
										
										<!-- Add hidden form field to handle update-->
										<input type="hidden" th:field="*{id}"/>
										
										<div class="form-group">
									    	<label for="productName">Nama Barang</label>
									    	<input type="text" th:field="*{productName}"
			   								   class="form-control mb-4 col-5" id="productName" placeholder="Nama Barang" required/>
										</div>
			
										<input type="hidden" th:field="*{quantity}"/>
										       
										<div class="form-group">
											<label for="priceProduct">Harga</label>
											<input type="number" th:field="*{price}"
											   class="form-control mb-4 col-5" id="priceProduct" placeholder="Harga" min="100" required/>
										</div> 
										       
										<hr>     
										       
										
										<a th:href="@{/products/list}" class="btn btn-secondary btn-icon-split">
											<span class="icon text-white-50">
												<i class="fas fa-window-close"></i>
											</span>
											<span class="text">Batal</span>
										</a>  
										       
										<button type="submit" class="btn btn-primary btn-icon-split">
											<span class="icon text-white-50">
												<i class="fas fa-save"></i>
											</span>
											<span class="text">Simpan</span>
										</button>
										
										
									</form>
									
								</div>
								
							</div>
						
						</div>
					</div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="fragments/footer :: footer-fragment"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <th:block th:replace="fragments/scroll-top :: scroll-fragment"></th:block>
   
    <!-- Bootstrap core JavaScript-->
    
    <th:block th:replace="fragments/script-content :: baseScript(~{})">
    
    </th:block>

</body>

</html>